:root{
    --sidebar: #dc97a5; /*#cd4662*/
    --dark-color: #231123;
    --bttn: #aec289; 
    --light-pink-text: #fff1f4;
    --container-border: #dd716b;
    --header: #f9fbfd; 
    --main: #ffe1e6; 
    --searchbar: #d5e6ab;
    --card-border: #b83556;
    --header-border: #e7b9c6;
}

@font-face {
  font-family: "creato-display";
  src:
    url("fonts/creato-display/creatodisplay-regular-webfont.woff2") format("woff2"),
    url("fonts/creato-display/creatodisplay-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "creato-display-dark";
  src:
    url("fonts/creato-display/creatodisplay-bold-webfont.woff2") format("woff2"),
    url("fonts/creato-display/creatodisplay-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr); /*300px*/
    grid-template-rows: 160px 1fr;
    font-family: "Questrial", sans-serif;
    background-color: var(--main);
}

/*HEADER START*/
/*TOP PART START*/
#header{
    grid-column: 2/5;
    grid-row: 1/2;
    background-color: var(--header);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 80px);
    box-shadow: 2px 4px 5px var(--header-border);
}

#header-name{
    font-family: "creato-display-dark", sans-serif;
    font-size: 20px;
}

#searchbar{
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
}

input[type=text]{
  box-sizing: border-box;
  border: 2px solid #ccc;
  outline: none;
  font: 1em "creato-display";
  border-radius: 5px;
  padding-left: 10px;
}

input[type=text]:focus{
    box-shadow: 2px 2px 2px var(--bttn);
}

#search{
    grid-column: 2/8;
    border-radius: 16px;
    border-style: none;
    width: 100%;
    height: 40px;
    margin: 0;
    background-color: var(--searchbar);
}

#header-data{
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

#search-right{
    grid-column: 9/11;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*TOP PART END*/
/*BOTTOM PART START*/
#header-data > #pfp .icon{
    grid-column: 1/2;
    width: 70px;
    height: 70px;
}

#greeting{
    grid-column: 2/5;
    line-height: 0.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "creato-display-dark", sans-serif;
}

#greeting > p{
    font-weight: 900;
}

#greeting > *{
    margin: 12px;
}

#names{
    font-size: 24px;
}

#bttn-container{
    grid-column: 8/11;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    gap: 5px;
}

button{
    height: 40px;
    width: 100px;
    font-family: "creato-display-dark", sans-serif;
    border-radius: 20px;
    border-style: none;
    font-size: 16px;
    background-color: var(--bttn);
    color: var(--light-pink-text);
}
/*BOTTOM PART END*/
/*HEADER END*/

/*SIDEBAR START*/
#sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 15px;
    background-color: var(--sidebar);
    color: var(--dark-color);
}

#dashboard{
    font-size: 36px;
    font-family: "creato-display-dark", sans-serif;
    font-weight: 600;
}

a{
    display: flex;
    font-size: 24px;
    font-weight: 500;
    padding-left: 30px;
    margin-bottom: 8px;
}

.icon {
    width: 24px;
    height: 24px;
    background-size: cover;
    padding: 2px;
    margin-right: 20px;
}

#logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 20px;
    padding-left: 20px;
}

/*SIDEBAR END*/

/*MAIN SIDE START*/
#main{
    grid-column: 2/5;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
}

/*PROJECT SIDE START*/
#project-container{
    display: flex;
    flex-direction: column;
    width: 65%;
} 

#projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 220px); 
    justify-content: center;
    padding: 2px;
    margin: 10px;
    gap: 20px;
}

#projects > .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--header);
    border-left: solid 10px var(--card-border);
    border-radius: 10px;

}
.card-text{
    margin: 12px;
}

#your-projects{
    margin: 10px 0px 0px 0px;
    font-family: "creato-display-dark", sans-serif;
    font-size: 20px;
    padding-left: 20px;
}

.text-icons{
    display: flex;
    justify-content: end;
    margin-bottom: 8px;
}

.text-icons > a{
    padding: 0;
    margin: 0;
}
/*PROJECT SIDE END*/
/*RIGHT SIDE START*/
#right-side{
    width: 35%;
    margin-left: 20px;
    margin-right: 40px;
}

#announ-content > .card:nth-child(2){
    border-top: solid 1px #231123;
    border-bottom: solid 1px #231123;
}

#announ-text{
    margin: 10px 0px 12px 0px;
    font-family: "creato-display-dark", sans-serif;
    font-size: 20px;
}

#announ-content{
    display: flex;
    flex-direction: column;
    background-color: var(--header);
    padding: 20px;
    border-radius: 12px;
    font-size: 14px;
}

#trending-content{
    display: grid;
    grid-template-rows: repeat(3, 60px);
    background-color: var(--header);
    border-radius: 12px;
    padding: 20px 0 20px 0;
    font-size: 14px;
    margin: 0;
}

.title{
    font-family: "creato-display-dark", sans-serif;
    font-size: 15px;
    line-height: 0.2;
}

.users{
    display: flex;
    align-items: center;
    margin: 0;
}

.users > span > p{
    line-height: 0.2;
}
/*RIGHT SIDE END*/
/*ICONS START*/

#logo .icon{
    width: 42px;
    height: 40px;
    background-image: url("images/application.png");
}

#search-icon .icon{
    grid-column: 1/2;
    background-image: url("images/magnify.png");
}

#notif .icon{
    background-image: url("images/bell-ring.png");
}

#pfp .icon{
    background-image: url("images/profile-pictures/miffy.png");
    width: 50px;
    height: 50px;
}

#home .icon{
    background-image: url("images/home.png");
}

#profile .icon{
    background-image: url("images/account.png");
}

#messages .icon{
    background-image: url("images/message.png");
}

#history .icon{
    background-image: url("images/history.png");
}

#tasks .icon{
    background-image: url("images/calendar-check.png");
}

#communities .icon{
    background-image: url("images/account-group.png");
}

#settings .icon{
    background-image: url("images/cog.png");
}

#support .icon{
    background-image: url("images/face-agent.png");
}

#privacy .icon{
    background-image: url("images/lock.png");
}

#pfp1 .icon{
    background-image: url("images/profile-pictures/kirby.png");
}

#pfp2 .icon{
    background-image: url("images/profile-pictures/pool-ball.png");
}

#pfp3 .icon{
    background-image: url("images/profile-pictures/hibiscus.png");
}

#pfp4 .icon{
    background-image: url("images/profile-pictures/fish-bowl.png");
}

#eye .icon{
    background-image: url("images/eye-plus.png");
}

#star .icon{
    background-image: url("images/star-plus.png");
}

#link .icon{
    background-image: url("images/link.png");
}

.pfps{
    width: 40px;
    height: 40px;
}
/*ICONS END*/